{% extends 'base.html.twig' %}
{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('../public/build/css/login.css') }}">
{% endblock %}
{% block body %}
    <div class="row">
        <div class="col s12 m6 l6 xl4 offset-l3 offset-xl4 ">
            <div class="card">
                <div class="card-content">
                    <div class="center-align">
                        <img class="responsive-img " src="{{ asset('../public/build/img/logo.png') }}" alt="logo">
                        <h1>Ecurie Fief Malzais</h1>
                    </div>
                    {% if error %}
                        <div class="card-panel deep-orange accent-4">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
                    {% endif %}

                    <form action="{{ path('login_page') }}" method="post">
                        <div class="input-field">
                            <input type="email" id="username" name="_username" value="{{ last_username }}">
                            <label for="username">Email</label>
                        </div>


                        <div class="input-field">
                            <input type="password" id="password" name="_password">
                            <label for="password">Mot de passe</label>
                        </div>

                        <input type="checkbox" class="filled-in" id="remember_me" name="_remember_me" />
                        <label for="remember_me">Se souvenir de moi</label><br/>

                        <button class="btn waves-effect waves-light" type="submit" name="action">
                            Se connecter
                        </button>
                    </form>
                </div>
                <div class="card-action">
                    <div class="right-align"><a class="activator forgot-password ">Mot de passe oublié ?</a></div>
                </div>
                <div class="card-reveal">
                    <span class="card-title grey-text text-darken-4">Mot de passe oublié<i class="material-icons right">close</i></span>
                    <p>Si vous avez oublié votre mot de passe veuillez saisir votre email de votre compte.</p><br/>

                    <div id="flashMessages"></div>

                    <form action="{{ path('lost_password') }}" method="post" name="reset_password">
                        <div class="input-field">
                            <input type="email" id="username" name="_email_reset">
                            <label for="username">Email</label>
                        </div>
                        <button data-url="{{ path('lost_password') }}" id="resetPassword" class="btn waves-effect waves-light" type="submit">Réinitialisation</button>
                    </form>
                    <div class="progress">
                        <div class="indeterminate"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    <script>
        resetPassword();

        // Soumission du formulaire de reset de mot de passe en ajax
        function resetPassword() {
            // Récupération du formulaire
            $('form[name="reset_password"]').on('submit', function(e) {

                // Bloquage de l'action initial
                e.preventDefault();

                // Affichage de la barre de chargement
                $('.progress').show();

                // Récupération du formulaire
                var $form = $(this);

                // Récupération de l'url de soumission
                var url = $('#resetPassword').attr('data-url');

                // Fonction ajax
                $.ajax({
                    type:'POST',
                    url: url,
                    data: $form.serialize(),
                    success: function (data) {
                        // Construction du html pour le message flash
                        var success = '<div class="card-panel green accent-4">'+ data +'</div>';
                        // Ajout du message flash
                        $('#flashMessages').html(success);

                        // Retrait de la barre de chargement
                        $('.progress').hide();
                    },
                    error: function (jqxhr) {
                        // Construction du html pour le message flash
                        var error = '<div class="card-panel deep-orange accent-4">'+ jqxhr.responseText +'</div>';
                        // ajoute le message flash dans la div dédiée
                        $('#flashMessages').html(error);

                        // Retrait de la barre de chargement
                        $('.progress').hide();

                        // Efface le message après 5 secondes
                        function removeFlashMsg(){
                            $('.card-panel').replaceWith("");
                        }
                        setTimeout(removeFlashMsg, 5000);
                    }
                })
            });
        }
    </script>
{%endblock %}