<div class="row">
    {{ form_start(addCourseForm) }}

    <div class="input-field col xl12 l12 m12 s12">
        <div class="row">
            <div class="input-field col xl4 l4 m12 s12">
                <label for="add_course_courseHours">Horaire du cours</label>
                {{form_widget(addCourseForm.courseHours,{'attr': {'placeholder': "test" }}) }}
            </div>
            <div class="input-field col xl4 l4 m12 s12">
                {{ form_widget(addCourseForm.courseType) }}
                {{ form_label(addCourseForm.courseType) }}
            </div>
        </div>
    </div>

    <div class="row">
        <div class="input-field col xl12 l10 m12 s12">
            <p id="summary-course"></p>
            {{ form_widget(addCourseForm.submit) }}

            <div class="progress progress-add-notification">
                <div class="indeterminate"></div>
            </div>
        </div>
    </div>

    {{form_end(addCourseForm)}}

</div>