<div class="row" id="reload-add-day-off" data-url="{{ path('reload-add-day-off') }}">
    {{ form_start(dayOffForm) }}

    <div class="input-field col xl5 l5 m12 s12 offset-xl1 offset-l1">
        {{form_label(dayOffForm.dateOffBegin) }}
        {{form_widget(dayOffForm.dateOffBegin, {'attr': {'class': 'flatpickr'}}) }}
    </div>

    <div class="input-field col xl5 l5 m12 s12">
        {{ form_label(dayOffForm.dateOffEnd) }}
        {{ form_widget(dayOffForm.dateOffEnd, {'attr': {'class': 'flatpickr'}}) }}
    </div>

    <div class="input-field col xl10 l10 m12 s12 offset-xl1 offset-l1">
        {{ form_widget(dayOffForm.submit, {'attr': {'data-url': path('add-day-off') }}) }}
    </div>

    <div class="col xl10 l10 m12 s12 offset-xl1 offset-l1">
        <div class="progress progress-add-day-off">
            <div class="indeterminate"></div>
        </div>
    </div>

    {{form_end(dayOffForm)}}

</div>