{% extends 'base.html.twig' %}


{#{% form_theme contactsForm _self %}#}

{#{% block _edit_usefull_contacts_contacts_entry_row %}#}
    {#<h3>mon contact</h3>#}
    {#{{ form_widget(form.phone) }}#}
    {#{{ form_widget(form.name) }}#}
    {#{{ form_widget(form.type) }}#}
{#{% endblock %}#}

{% block stylesheets %}
<style>
    .owners {
        min-height: 506.2px !important;
    }

    .progress-new-contact {
        display: none;
    }
</style>
{% endblock %}

{% block body %}
    {{ include('common/nav.html.twig') }}

    <div class="row">
        <div class="col xl8 l8 m10 s12 offset-xl2 offset-l2 offset-m1">
            <div class="card">
                <div class="card-content">
                    <h3 class="center-align">Contacts utiles</h3>
                    <a class="activator btn-floating btn-large waves-effect waves-light absolute-icon"><i class="material-icons">add</i></a>

                    <div class="row">
                        {{ include('dashboard/admin/tables/usefullContacts.html.twig') }}
                    </div>

                    <div class="row">
                        {{ include('dashboard/admin/tables/owners.html.twig') }}
                    </div>
                </div>
                <div class="card-reveal">
                    <i class="material-icons right card-title">close</i>
                    <div class="center-align row">
                        <h3 class="col xl12 l12 m12 s12">Ajouter un contact</h3>
                    </div>
                    <div class="row">

                        <div class="col xl10 l10 m10 s12 offset-xl1 offset-l1 offset-m1" id="flashMessagesNewContact"></div>

                        {{ include('dashboard/admin/ajax/forms/addContact.html.twig') }}

                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}

{% block javascripts %}
    <script>
        // Initialisation des select
        function materializeSelect() {
            $('select').material_select();
        }

        // Fonction de pagination des propriétaire
        function paginateOwners() {
            $('body').on('click','#paginateOwners a', function (e) {
                e.preventDefault();
                var $a = $(this);
                var url = $a.attr('href');

                $.ajax({
                    type: 'GET',
                    url: url,
                    success: function (data) {
                        $('#table-owners').replaceWith(data);

                        trLink();
                    }, error: function () {
                    }
                })
            });
        }

        // Soumission du formulaire d'ajout d'un nouveau contact
        function addContact() {
            $('body').on('submit', 'form[name="add_new_contact"]', function (e) {
                e.preventDefault();
                $('.progress-new-contact').show();
                var $form = $(this);
                var url = $('#add_new_contact_submit').attr('data-url');

                $.ajax({
                    type: 'POST',
                    url: url,
                    data: $form.serialize(),
                    success: function (data) {
                        var success = '<div class="card-panel green accent-4" id="confirmationAddContact">' + data + '</div>';

                        $('#flashMessagesNewContact').html(success);

                        $('.progress-new-contact').hide();

                        function removeFlashMsg() {
                            $('#confirmationAddContact').replaceWith('');
                        }
                        setTimeout(removeFlashMsg, 5000);

                        reloadAddContactForm();
                        reloadUsefullContacts();
                    },
                    error: function (jqxhr) {
                        var error = '<div class="card-panel deep-orange accent-4">' + jqxhr.responseText + '</div>';

                        $('#flashMessagesNewContact').html(error);
                        $('.progress-new-contact').hide();
                    }
                })
            });
        }

        // REchargement du formulaire d'ajout d'un nouveau contact
        function reloadAddContactForm() {
            var url = $('#newContactForm').attr('data-url');
            $.ajax({
                type: 'GET',
                url: url,
                success: function (data) {
                    $('#newContactForm').replaceWith(data);

                    materializeSelect();
                }
            })
        }

        // Rechargement des contacts utiles
        function reloadUsefullContacts() {
            var url = $('#usefullContacts').attr('data-url');
            $.ajax({
                type: 'GET',
                url: url,
                success: function (data) {
                    $('#usefullContacts').replaceWith(data);

                    materializeSelect();
                }
            })
        }

        $(document).ready(function(){
            materializeSelect();
            $('.modal').modal();
            paginateOwners();
            addContact();
        });
    </script>
{% endblock %}
