{% extends 'base.html.twig' %}

{% block stylesheets %}
{% endblock %}

{% block body %}
    {{ include('common/nav.html.twig') }}

    <div class="row">
        <div class="col xl8 l8 m10 s12 offset-xl2 offset-l2 offset-m1">
            <div class="card">
                <div class="card-content">
                    <h3 class="center-align">Contacts utiles</h3>
                    <div class="row">
                        {% for contactType in contacts %}
                            <ul class="collection with-header col xl12 l12 m12 s12">
                                <li class="collection-header"><h5>{{ contactType.name }}</h5></li>
                                {% for contact in contactType.contacts  %}
                                    <li class="collection-item">{{ contact.name }}
                                        <span class="secondary-content">
                                            <a style="color: #00b1bc;" href="tel:+33{{ contact.phone }}">0{{ contact.phone|phone }}</a>
                                        </span></li>
                                {% endfor %}
                            </ul>
                        {% endfor %}
                    </div>
                    <div class="row">

                        {{ include('dashboard/admin/tables/owners.html.twig') }}

                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}

{% block javascripts %}
    <script>
        // Fonction de pagination des utilisateurs
        function paginateOwners() {
            $('body').on('click','#paginateOwners a', function (e) {
                e.preventDefault();
                var $a = $(this);
                var url = $a.attr('href');

                $.ajax({
                    type: 'GET',
                    url: url,
                    success: function (data) {
                        $('#table-owners').replaceWith(data);

                        trLink();
                    }, error: function () {
                    }
                })
            });
        }

        $(document).ready(function(){
            // Initialisation des inputs select
            paginateOwners();
        });
    </script>
{% endblock %}
