{% extends 'base.html.twig' %}

{% block stylesheets %}
    <style>
        .horses-title {
            font-size: 16px;
            padding: 5px 5px 5px 0;
        }

        .courses-history-title {
            padding-top: 10px;
        }

        .progress-add-course-card, .progress-update-history, .progress-update-horse, .progress-add-bill, .progress-update-bill{
            display: none;
        }

        #update_course_card_history_countType {
            position: absolute;
            display: inline;
            height: 0;
            padding: 0;
            width: 0;
            border: none;
            box-shadow: unset;
        }

        .custom-file {
            width: auto !important;
        }

        .custom-file:hover {
            width: auto !important;
        }

        .custom-file-input-text {
            margin-top: 15px !important;
        }
    </style>
    <link rel="stylesheet" href="{{ asset('build/css/table.css') }}">
{% endblock %}

{% block body %}
    {{ include('common/nav.html.twig') }}

    <div id="genericModal" class="modal">
        <div id="modalContent"></div>
    </div>

    <div class="row">
        <h3 class="col xl12 center-align">{{user.completeName}}</h3>
        <div class="col xl4 offset-xl2">
            <div class="card">
                <div class="card-content">
                    <span class="card-title">Coordonnées</span>
                    <p>
                        {{user.completeName}}<br>

                        {% if user.address == null %}
                            <i>Adresse non définie</i><br>
                        {% else %}
                            {{ user.address }}<br>
                            {{ user.zipCode }} {{user.country }}<br>
                        {% endif %}

                        {% if user.username == null %}
                            {{ user.username }}
                        {% else %}
                            {{user.username}} / {{ user.phone }}
                        {% endif %}
                    </p>
                </div>
            </div>

            <div class="card">
                <div class="card-content">
                    <span class="card-title">Carte de cours</span>

                    {{ include('dashboard/admin/sections/courseCard.html.twig') }}

                </div>
                <div class="card-reveal">
                    <span class="card-title grey-text text-darken-4">Ajouter un décompte<i class="material-icons right">close</i></span>

                    <div class="col xl12 l12 m12 s12" id="flashMessagesCourseCardHistory"></div>

                    {{ include('dashboard/admin/ajax/forms/updateCourseCard.html.twig') }}

                </div>
            </div>
        </div>

        <div class="col xl4">
            <div class="card">
                <div class="card-content">
                    <span class="card-title">
                        {% transchoice user.horse|length %}
                            [0,1] Cheval|]1,Inf[ Chevaux
                        {% endtranschoice %}
                    </span>

                    {{ include('dashboard/admin/sections/horse.html.twig') }}

                </div>
            </div>
        </div>
    </div>

    <div class="row">

        <div class="col xl8 l8 m12 s12 offset-xl2 offset-l2">
            <div class="card">
                <div class="card-content">
                    <span class="card-title">Factures</span>

                    <a class="modal-trigger  btn-floating btn-large waves-effect waves-light absolute-icon"
                       id="add-bill-modal-trigger" data-url="{{ path('add-bill-form',{'id': user.id })}}">
                        <i class="material-icons">add</i>
                    </a>

                    {{ include('dashboard/admin/tables/bills.html.twig') }}

                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    <script>
        // Initialisation des modals
        function initMaterialize() {
            $('.modal').modal();
            $('select').material_select();
        }

        // Chargement du formulaire d'ajout d'une carte de cours
        function loadModalAddCourseCard() {
            $('body').on('click', '#add-course-card-modal-trigger', function (e) {
                var url = $('#add-course-card-modal-trigger').attr('data-url');
                $('#genericModal').modal('open');
                $.ajax({
                    type: 'GET',
                    url: url,
                    success: function (data) {
                        $('#modalContent').replaceWith(data);
                    }
                })
            });
        }

        // Rechargement des contacts utiles
        function loadModalUpdateHorse() {
            $('body').on('click', '.edit-horse-modal-trigger', function (e) {
                var htmlID = '#edit-horse-';
                var dataID = e.currentTarget.dataset.id;
                var url = $(htmlID+dataID).attr('data-url');
                $('#genericModal').modal('open');
                $.ajax({
                    type: 'GET',
                    url: url,
                    success: function (data) {
                        $('#modalContent').replaceWith(data);
                        Materialize.updateTextFields();
                        $('select').material_select();
                    }
                })
            });
        }

        // Chargement du formulaire pour l'ajout de la facture
        function loadModalAddBill() {
            $('body').on('click', '#add-bill-modal-trigger', function (e) {
                var url = $('#add-bill-modal-trigger').attr('data-url');
                $('#genericModal').modal('open');
                $.ajax({
                    type: 'GET',
                    url: url,
                    success: function (data) {
                        $('#modalContent').replaceWith(data);
                        $('select').material_select();
                    }
                })
            });
        }

        // Chargement de la mise à jour d'une facture
        function loadModalUpdateBill() {
            $('body').on('click', '.update-bill-modal-trigger', function (e) {
                var htmlID = '#update-bill-modal-';
                var dataID = e.currentTarget.dataset.id;
                console.log(htmlID+dataID);
                var url = $(htmlID+dataID).attr('data-url');
                $('#genericModal').modal('open');
                $.ajax({
                    type: 'GET',
                    url: url,
                    success: function (data) {
                        $('#modalContent').replaceWith(data);
                        Materialize.updateTextFields();
                        $('select').material_select();
                    }
                })
            });
        }

        // Rechargement des informations lié à la carte de cours
        function reloadCourseCardSection() {
            var url = $('#courseCardInformations').attr('data-url');
            $.ajax({
                type: 'GET',
                url: url,
                success: function (data) {
                    $('#courseCardInformations').replaceWith(data);
                    initMaterialize();
                }
            })
        }

        // Soumission du formulaire d'ajout d'une carte de cours
        function addCourseCard() {
            $('body').on('submit', 'form[name="add_course_card"]', function (e) {
                e.preventDefault();
                $('.progress-add-course-card').show();
                var $form = $(this);
                var url = $('#add_course_card_submit').attr('data-url');
                $.ajax({
                    type: 'POST',
                    url: url,
                    data: $form.serialize(),
                    success: function (data) {
                        var success = '<div class="card-panel green accent-4" id="confirmationAddCourseCard">' + data + '</div>';

                        $('#flashMessagesAddCourseCard').html(success);

                        $('.progress-add-course-card').hide();

                        function removeFlashMsg() {
                            $('#confirmationAddCourseCard').replaceWith('');
                            $('#genericModal').modal('close');
                            reloadCourseCardSection();
                            $('#modalContent').replaceWith('<div id="modalContent"></div>');
                        }
                        setTimeout(removeFlashMsg, 600);

                    },
                    error: function (jqxhr) {
                        var error = '<div class="card-panel deep-orange accent-4">' + jqxhr.responseText + '</div>';
                        $('#flashMessagesAddCourseCard').html(error);
                        $('.progress-add-course-card').hide();
                    }
                })
            });
        }

        // Soumission du formulaire de mise à jour de la carte de son historique
        function addCourseCardHistory() {
            $('body').on('submit', 'form[name="update_course_card_history"]', function (e) {
                e.preventDefault();
                $('.progress-update-history').show();
                var $form = $(this);
                var url = $('#update_course_card_history_submit').attr('data-url');
                $.ajax({
                    type: 'POST',
                    url: url,
                    data: $form.serialize(),
                    success: function (data) {
                        var success = '<div class="card-panel green accent-4" id="confirmationUpdateCourseCardHistory">' + data + '</div>';

                        $('#flashMessagesCourseCardHistory').html(success);

                        $('.progress-update-history').hide();

                        function removeFlashMsg() {
                            $('#confirmationUpdateCourseCardHistory').replaceWith('');
                        }
                        setTimeout(removeFlashMsg, 5000);
                        reloadCourseCardSection();
                        reloadUpdateCourseCardForm();
                    },
                    error: function (jqxhr) {
                        var error = '<div class="card-panel deep-orange accent-4">' + jqxhr.responseText + '</div>';
                        $('#flashMessagesCourseCardHistory').html(error);
                        $('.progress-update-history').hide();
                    }
                })
            });
        }

        // Soumission du formulaire d'ajout d'une facture'
        function addBill() {
            $('body').on('submit', 'form[name="add_new_bill"]', function (e) {
                e.preventDefault();
                $('.progress-add-bill').show();
                var url = $('#add_new_bill_submit').attr('data-url');
                $.ajax({
                    type: 'POST',
                    url: url,
                    data: new FormData(this),
                    processData: false,
                    contentType: false,
                    success: function (data) {
                        var success = '<div class="card-panel green accent-4" id="confirmationAddBill">' + data + '</div>';

                        $('#flashMessagesAddBill').html(success);

                        $('.progress-add-bill').hide();

                        function removeFlashMsg() {
                            $('#confirmationAddBill').replaceWith('');
                            $('#genericModal').modal('close');
                            reloadBillsTable();
                            $('#modalContent').replaceWith('<div id="modalContent"></div>');
                        }
                        setTimeout(removeFlashMsg, 5000);

                    },
                    error: function (jqxhr) {
                        var error = '<div class="card-panel deep-orange accent-4">' + jqxhr.responseText + '</div>';
                        $('#flashMessagesAddBill').html(error);
                        $('.progress-add-bill').hide();
                    }
                })
            });
        }

        // Soumission du formulaire de mise à jour d'un cheval
        function updateHorse() {
            $('body').on('submit', 'form[name="update_horse"]', function (e) {
                e.preventDefault();
                $('.progress-update-horse').show();
                var $form = $(this);
                var url = $('#update_horse_submit').attr('data-url');
                var id = $('#update_horse_submit').attr('data-id');

                $.ajax({
                    type: 'POST',
                    url: url,
                    data: $form.serialize(),
                    success: function (data) {
                        var success = '<div class="card-panel green accent-4" id="confirmationUpdateHorse'+id+'">' + data + '</div>';

                        $('#flashMessagesUpdateHorse'+id).html(success);

                        $('.progress-update-horse').hide();

                        function removeFlashMsg() {
                            $('#confirmationUpdateHorse'+id).replaceWith('');
                            $('#genericModal').modal('close');
                            reloadHorseSection();
                            $('#modalContent').replaceWith('<div id="modalContent"></div>');
                        }
                        setTimeout(removeFlashMsg, 600);

                    },
                    error: function (jqxhr) {
                        var error = '<div class="card-panel deep-orange accent-4">' + jqxhr.responseText + '</div>';
                        $('#flashMessagesUpdateHorse'+id).html(error);
                        $('.progress-update-horse').hide();
                    }
                })
            });
        }

        // Soumission du formulaire de mise à jour d'une facture
        function updateBill() {
            $('body').on('submit', 'form[name="update_bill"]', function (e) {
                e.preventDefault();
                $('.progress-update-bill').show();
                var url = $('#update_bill_submit').attr('data-url');
                var id = $('#update_bill_submit').attr('data-id');

                $.ajax({
                    type: 'POST',
                    url: url,
                    data: new FormData(this),
                    processData: false,
                    contentType: false,
                    success: function (data) {
                        var success = '<div class="card-panel green accent-4" id="confirmationUpdateBill'+id+'">' + data + '</div>';

                        $('#flashMessagesUpdateBill'+id).html(success);

                        $('.progress-update-bill').hide();

                        function removeFlashMsg() {
                            $('#confirmationUpdateBill'+id).replaceWith('');
                            $('#genericModal').modal('close');
                            reloadBillsTable();
                            $('#modalContent').replaceWith('<div id="modalContent"></div>');
                        }
                        setTimeout(removeFlashMsg, 600);

                    },
                    error: function (jqxhr) {
                        var error = '<div class="card-panel deep-orange accent-4">' + jqxhr.responseText + '</div>';
                        $('#flashMessagesUpdateBill'+id).html(error);
                        $('.progress-update-bill').hide();
                    }
                })
            });
        }

        // Rechargement des informations lié à la carte de cours
        function reloadHorseSection() {
            var url = $('#horsesInformations').attr('data-url');
            $.ajax({
                type: 'GET',
                url: url,
                success: function (data) {
                    $('#horsesInformations').replaceWith(data);
                    initMaterialize();
                }
            })
        }

        // Rechargement des informations lié à la carte de cours
        function reloadBillsTable() {
            var currentPageNb = $('#paginateBills').find('a').attr('data-current');
            if (currentPageNb === '') {
                currentPageNb = '1';
            }

            var argGet = '?page='+currentPageNb;

            var urlNewRoute = $('#paginateBills').find('a').attr('href');

            var newUrl = urlNewRoute+argGet;
            $.ajax({
                type: 'GET',
                url: newUrl,
                success: function (data) {
                    $('#table-bills').replaceWith(data);
                }
            })
        }

        // Rechargement du formulaire de ajout d'un cavalier
        function reloadUpdateCourseCardForm() {
            var url = $('#updateCourseCardForm').attr('data-url');
            $.ajax({
                type: 'GET',
                url: url,
                success: function (data) {
                    $('#updateCourseCardForm').replaceWith(data);

                    initMaterialize();
                }
            })
        }

        // Fonction de pagination de l'historique
        function paginateHistory() {
            $('body').on('click','#paginateCourseCardHistory a', function (e) {
                e.preventDefault();
                var $a = $(this);
                var url = $a.attr('href');

                $.ajax({
                    type: 'GET',
                    url: url,
                    success: function (data) {
                        $('#table-course-card-history').replaceWith(data);
                    }, error: function () {
                    }
                })
            });
        }

        // Fonction de pagination des factures
        function paginateBills() {
            $('body').on('click','#paginateBills a', function (e) {
                e.preventDefault();
                var $a = $(this);
                var url = $a.attr('href');

                $.ajax({
                    type: 'GET',
                    url: url,
                    success: function (data) {
                        $('#table-bills').replaceWith(data);
                    }, error: function () {
                    }
                })
            });
        }

        $(document).ready(function(){
            initMaterialize();
            loadModalAddCourseCard();
            loadModalUpdateHorse();
            loadModalAddBill();
            loadModalUpdateBill();
            addCourseCard();
            paginateHistory();
            addCourseCardHistory();
            updateHorse();
            addBill();
            updateBill();
            paginateBills();
        });
    </script>
{% endblock %}

