<div id="usefullContacts" data-url="{{ path('reload-usefull-contacts') }}">
    {% for contactType in contacts %}
        {% if contactType.contacts is not empty %}
        <ul class="collection with-header col xl12 l12 m12 s12">
                <li class="collection-header">
                    <h5>{{ contactType.name }} |
                        <a class="hypertext modal-trigger edit-contact-type-modal-trigger" id="modal-edit-contact-type-{{ contactType.id }}" data-url="{{ path('update-contact-type-form', {'id': contactType.id }) }}" data-id="{{ contactType.id }}">
                            Editer
                        </a>
                    </h5>
                </li>
            {% for contact in contactType.contacts  %}
                <li class="collection-item">{{ contact.name }}
                    <span class="secondary-content">
                        <a class="hypertext" href="tel:{{ contact.phone }}">{{ contact.phone|phone }}</a> |
                        <a class="hypertext modal-trigger edit-contact-modal-trigger" id="modal-edit-contact-{{ contact.id }}"  data-url="{{ path('update-contact-form', {'id': contact.id }) }}" data-id="{{ contact.id }}">
                            Editer
                        </a>
                    </span>
                </li>
            {% endfor %}
        </ul>
        {% endif %}
    {% endfor %}
</div>

