<style>
    .logo-nav {
        padding-top: 25px;
        height: 125px;
    }

    .title-nav {
        font-family: manoNegra, Arial, Helvetica, sans-serif;
        color: rgba(0,0,0,0.8);
    }
</style>

<nav class="green-malzais">
    <div class="nav-wrapper container">
        <a href="#" data-activates="mobile-demo" class="button-collapse"><i class="material-icons">menu</i></a>
        <ul class="hide-on-med-and-down">
            <li><a href="{{ path('dashboard') }}"><i class="icon-dashboard fa fa-tachometer" aria-hidden="true"></i> Dashboard</a></li>
            <li><a href="{{ path('courses') }}"><i class="icon-dashboard fa fa-calendar" aria-hidden="true"></i> Cours</a></li>
            <li><a href="{{ path('usefull-contacts') }}"><i class="icon-dashboard fa fa-address-book-o" aria-hidden="true"></i> Contacts</a></li>
            <li class="right"><a class="dropdown-button" data-activates="dropdown-param"><i class="fa fa-user-circle-o left icon-dashboard" aria-hidden="true"></i> {{ app.user.completeName }} <i class="material-icons right">arrow_drop_down</i></a></li>
        </ul>
        <ul class="side-nav" id="mobile-demo">
            <li class="center-align">
                <img class="logo-nav" src="{{ asset('../public/build/img/logo.png') }}" alt="logo">
                <h4 class="title-nav">Fief Malzais</h4>
            </li>
            <li><a class="dropdown-button" data-activates="dropdown-param-mob"><i class="fa fa-user-circle-o left icon-dashboard" aria-hidden="true"></i> {{ app.user.completeName }} <i class="material-icons right">arrow_drop_down</i></a></li>
            <li><a href="{{ path('dashboard') }}"><i class="icon-dashboard fa fa-tachometer" aria-hidden="true"></i> Dashboard</a></li>
            <li><a href="{{ path('dashboard') }}"><i class="icon-dashboard fa fa-calendar" aria-hidden="true"></i> Cours</a></li>
            <li><a href="{{ path('usefull-contacts') }}"><i class="icon-dashboard fa fa-address-book-o" aria-hidden="true"></i> Contacts</a></li>
        </ul>
    </div>
</nav>

<ul id="dropdown-param" class="dropdown-content">
    <li><a href="{{ path('user-informations') }}"><i class="fa fa-address-card-o" aria-hidden="true"></i> Vos informations</a></li>
    <li><a href="{{ path('user-password') }}"><i class="fa fa-key" aria-hidden="true"></i> Mot de passe</a></li>
    <li class="divider"></li>
    <li><a href="{{ path('logout_page') }}"><i class="fa fa-sign-out" aria-hidden="true"></i> Se déconnecter</a></li>
</ul>

<ul id="dropdown-param-mob" class="dropdown-content">
    <li><a href="{{ path('user-informations') }}"><i class="fa fa-address-card-o" aria-hidden="true"></i> Vos informations</a></li>
    <li><a href="{{ path('user-password') }}"><i class="fa fa-key" aria-hidden="true"></i> Mot de passe</a></li>
    <li class="divider"></li>
    <li><a href="{{ path('logout_page') }}"><i class="fa fa-sign-out" aria-hidden="true"></i> Se déconnecter</a></li>
</ul>