{% extends 'base.html.twig' %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('build/css/table.css') }}">
{% endblock %}

{% block body %}

    {{ include('common/navUser.html.twig') }}

    <div class="row">
        <div class="col xl8 l8 m10 s12 offset-xl2 offset-l2 offset-m1">
            <div class="card">
                <div class="card-content">
                    <div class="row">

                        <h3 class="center-align">Votre mot de passe</h3>
                        <div class="divider divider-form"></div>
                        <div class="col xl10 l10 m10 s12 offset-xl1 offset-l1 offset-m1" id="horsemanForm" data-url="{{ path('reload-horseman-form') }}">
                            {{form_start(passwordForm)}}

                            <div class="row">
                                <div class="input-field col xl12 l12 m12 s12">
                                    {{form_widget(passwordForm.oldPassword)}}
                                    {{form_label(passwordForm.oldPassword)}}
                                </div>

                                <div class="input-field col xl12 l12 m12 s12">
                                    {{form_widget(passwordForm.newPassword.first)}}
                                    {{form_label(passwordForm.newPassword.first)}}
                                </div>

                                <div class="input-field col xl12 l12 m12 s12">
                                    {{form_widget(passwordForm.newPassword.second)}}
                                    {{form_label(passwordForm.newPassword.second)}}
                                </div>

                                <div class="input-field col xl12 l12 m12 s12">
                                    {{form_widget(passwordForm.submit, {'attr': {'data-url': path('add-horseman') }})}}
                                </div>

                                <div class="col xl12 l12 m12 s12">
                                    <div class="progress progress-user-password">
                                        <div class="indeterminate"></div>
                                    </div>
                                </div>

                                {{form_end(passwordForm)}}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}

{% block javascripts %}
{% endblock %}


